

.container {

    z-index: -100;
    width: 100%;
    height: 100vh;
    background-image: url("../shield-cat-solid.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 500px 500px;
}

.form-box {
    width: 70%;
    height: 80%;
    min-width: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 10px;
    opacity: 1;
    
}

.form-box h1 {
    margin-bottom: 10px;
    font-family: "Ubuntu Sans Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-size: 40px;
    font-style: normal;
  background: linear-gradient(to right, #f62525, #ff0808,#ff7c02, #ffbf00);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.input-field {
    backdrop-filter: blur(15px);
    margin: 15px  0px;
    max-height: 80px;
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
    transition: backdrop-filter 0.5s;
    border-top : 0.5px solid rgb(168, 168, 168);
    border-bottom : 0.5px solid rgb(168, 168, 168);
    margin-bottom: 30px;
}

.input-field:hover {
    backdrop-filter: blur(100px);
}

.input-field input {
    width: 100%;
    text-align: center;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 20px;
    font-family: "Ubuntu Sans Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-size: 17px;
    font-style: normal;
    color: #ff3700;
}

input::placeholder {
    color: #ff3700;
}

.input-field i {
    color: #ff2f00;
    font-size: 19px;
    padding: 0 10px;
}

label {
    width: 100%;
    height: 60px;
    text-align: center;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 20px;
    font-family: "Ubuntu Sans Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-size: 17px;
    font-style: normal;
    color: #ff3700;
}

input::placeholder {
    color: #ff3700;
    opacity: 0.5;
}

.input-field i {
    color: #ff2f00;
    font-size: 19px;
    padding: 0 10px;
}

.keysize-group label {
    display: inline-block;
    width: 250px;
    padding: 10px;
    border-top: 0.1px solid rgb(168, 168, 168);
    border-bottom: 0.1px solid rgb(168, 168, 168);
    backdrop-filter : blur(15px);
    transition: all 0.2s;
    font-family: "Ubuntu Sans Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-size: 25px;
    font-style: normal;
    color: rgb(255, 0, 0);
    margin-bottom: 50px;

}



.keysize-group input[type="radio"]{
    display: none;
}

.keysize-group input[type="radio"]:checked + label {
    backdrop-filter : blur(1000px);
    background-color: rgba(160, 172, 172 , 0.3);
}

.input-field .copyButton {
    border: none;
    background-color: transparent;
}

.center {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transperent;
  }
  .wave {
    width: 5px;
    height: 100px;
    background: linear-gradient(45deg, #f6900a, #ff0000);
    margin: 10px;
    animation: wave 1s linear infinite;
    border-radius: 20px;
  }
  .wave:nth-child(2) {
    animation-delay: 0.1s;
  }
  .wave:nth-child(3) {
    animation-delay: 0.2s;
  }
  .wave:nth-child(4) {
    animation-delay: 0.3s;
  }
  .wave:nth-child(5) {
    animation-delay: 0.4s;
  }
  .wave:nth-child(6) {
    animation-delay: 0.5s;
  }
  .wave:nth-child(7) {
    animation-delay: 0.6s;
  }
  .wave:nth-child(8) {
    animation-delay: 0.7s;
  }
  .wave:nth-child(9) {
    animation-delay: 0.8s;
  }
  .wave:nth-child(10) {
    animation-delay: 0.9s;
  }
  
  @keyframes wave {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }

.btn-field button::placeholder {
    color: #ff2f00;
    font-family: "Ubuntu Sans Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-size: 17px;
    font-style: normal;
}

.submit {
    margin-top: 8px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content : center;
    text-align: center;
    border: 0;
    border-radius: 5px;
    height: 50px;
    outline: 0;
    cursor: pointer;
    backdrop-filter: blur(15px);
    transition: backdrop-filter 0.5s;
}

.submit button {
    flex-basis: 24%;
    border: none;
    outline: none;
    border-radius: 3px;
    height: 50px;
    outline: 0;
    background: inherit;
  background-clip: text;
  -webkit-background-clip: text;
    color: rgb(255, 0, 0);
    mix-blend-mode: difference;
    backdrop-filter: blur(15px);
    background-color: transparent;
    font-family: "Ubuntu Sans Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-size: 25px;
    font-style: normal;

}

.submit:hover {
    backdrop-filter: blur(100px);
}